body{
    background-color:#ffffff;
}

header{
    background-color:#ffffff;
}



.cabecalho-imagem{
    display:flex;
    justify-content:space-around; 
    width: 20%;
    padding: 34px 0;
    margin: -41px 23px -86px;
}

.cabecalho-lista-item{
    display:inline-block;
    margin:0 16px 0;
    padding:24px 0;
    font-size:10px; 
}

.escola-imagem{
    width: 90%;
    margin:25px 26px 7px;
    padding:14px 8px;
}

.escola{
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.escola-conteudo{
    width: 55%;
}

.escola-titulo{
    padding: 24px 0;
    font-size:40px;
}

.rodape{
    background-color: black;
    color: white;
    display: flex; 
    justify-content: center;
}


.rodape-lista-item{
    display: inline-block;
    margin: 54px 598px;
    padding: 0px 0;
    font-size: 34px;
    color: rgb(255, 0, 0);
}

.sala{
    background-color: #ffffff;
    color: rgb(61, 102, 112);
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 34px 54px;
}


.sala-conteudo{
    width: 55%;
}

.sala-titulo{
    padding: 34px 0;
    margin: 33px;
    font-size:40px;
}

.sala-imagem{
    width: 31%;
}

.sala-texto-um{
    margin: 14px;
}

.escola-texto-um{
    font-size: 20px;
}

.sala-texto-um{
    font-size: 20px;
}

figure {
    float: left;
    width: 35%;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }